#include <windows.h>
#include "resource.h"
 
IDI_APP_ICON   ICON    DISCARDABLE "res\\Reddit.ico"
IDI_APP_ICON_COPYRIGHT ICON DISCARDABLE "res\\copyrightt.ico"


IDC_CUSTOMHAND CURSOR "res\\hand cursor.cur"
IDC_ERAZER CURSOR "res\\eraser.cur"

IDC_LINE CURSOR "res\\Hand.cur"
IDC_FREEHAND CURSOR "res\\aq_pen.cur"
IDC_MAINCURSOR CURSOR "res\\normal.cur"

IDB_STANDARD  BITMAP  "res\\standard.bmp"

// About window
IDD_ABOUT   DIALOG  DISCARDABLE 32, 32, 180, 100
STYLE   DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About DrawMomo"
FONT 8, "MS Sans Serif"

BEGIN
    CTEXT   "DrawMomo v0.2", IDC_STATIC, 40, 12, 100, 8
    ICON IDI_APP_ICON, IDC_STATIC, 80, 28, 32, 32
    DEFPUSHBUTTON   "&Ok", IDOK, 66, 80, 50, 14
    CTEXT   "A drawing application for windows programming", IDC_STATIC, 7, 52, 166, 8
    CTEXT   "Barbaros Nicolae,UTM FAF-121",IDC_STATIC, 35,65,120,8
    ICON IDI_APP_ICON_COPYRIGHT, IDC_STATIC, 20,60,32,32
END

//Menu
IDM_MAINMENU MENU DISCARDABLE
BEGIN

    POPUP "&File"
    BEGIN
      MENUITEM "&Clear\t LShift+C", IDM_FILE_CLEAR
      MENUITEM SEPARATOR
        MENUITEM "&Exit\t LCtrl+Q", IDM_FILE_EXIT

    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About", IDM_HELP_ABOUT
    END
END

